<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="Template_SRS.css">
    <title>Software Requirements Specification for ProgName</title>
    <meta charset="utf-8">
    <script>
    MathJax = {
      loader: {load: ['[tex]/textmacros', 'output/chtml']},
      tex: {
        packages: {'[+]': ['textmacros']}
      },
      svg: {
        fontCache: 'global'
      }
    };
    </script>
    <script type="text/javascript" id="MathJax-script" async
     src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml-full.js">
    </script>
  </head>
  <body>
    <div class="title">
      <h1>Software Requirements Specification for ProgName</h1>
    </div>
    <div class="author"><h2>Author Name</h2></div>
    <div id="Sec:ToC">
      <div class="section">
        <h1>Table of Contents</h1>
        <p class="paragraph">
          An outline of all sections included in this SRS is recorded here for easy reference.
        </p>
        <ul class="list">
          <li><a href=#Sec:ToC>Table of Contents</a></li>
          <li>
            <a href=#Sec:RefMat>Reference Material</a>
            <ul class="list">
              <li><a href=#Sec:ToU>Table of Units</a></li>
              <li><a href=#Sec:ToS>Table of Symbols</a></li>
              <li><a href=#Sec:TAbbAcc>Abbreviations and Acronyms</a></li>
            </ul>
          </li>
          <li>
            <a href=#Sec:Intro>Introduction</a>
            <ul class="list">
              <li><a href=#Sec:DocPurpose>Purpose of Document</a></li>
              <li><a href=#Sec:ReqsScope>Scope of Requirements</a></li>
              <li>
                <a href=#Sec:ReaderChars>Characteristics of Intended Reader</a>
              </li>
              <li><a href=#Sec:DocOrg>Organization of Document</a></li>
            </ul>
          </li>
          <li>
            <a href=#Sec:GenSysDesc>General System Description</a>
            <ul class="list">
              <li><a href=#Sec:SysContext>System Context</a></li>
              <li><a href=#Sec:UserChars>User Characteristics</a></li>
              <li><a href=#Sec:SysConstraints>System Constraints</a></li>
            </ul>
          </li>
          <li>
            <a href=#Sec:SpecSystDesc>Specific System Description</a>
            <ul class="list">
              <li>
                <a href=#Sec:ProbDesc>Problem Description</a>
                <ul class="list">
                  <li><a href=#Sec:TermDefs>Terminology and Definitions</a></li>
                  <li><a href=#Sec:PhysSyst>Physical System Description</a></li>
                  <li><a href=#Sec:GoalStmt>Goal Statements</a></li>
                </ul>
              </li>
              <li>
                <a href=#Sec:SolCharSpec>Solution Characteristics Specification</a>
                <ul class="list">
                  <li><a href=#Sec:Assumps>Assumptions</a></li>
                  <li><a href=#Sec:TMs>Theoretical Models</a></li>
                  <li><a href=#Sec:GDs>General Definitions</a></li>
                  <li><a href=#Sec:DDs>Data Definitions</a></li>
                  <li><a href=#Sec:IMs>Instance Models</a></li>
                  <li><a href=#Sec:DataConstraints>Data Constraints</a></li>
                  <li>
                    <a href=#Sec:CorSolProps>Properties of a Correct Solution</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href=#Sec:Requirements>Requirements</a>
            <ul class="list">
              <li><a href=#Sec:FRs>Functional Requirements</a></li>
              <li><a href=#Sec:NFRs>Non-Functional Requirements</a></li>
            </ul>
          </li>
          <li><a href=#Sec:LCs>Likely Changes</a></li>
          <li><a href=#Sec:UCs>Unlikely Changes</a></li>
          <li>
            <a href=#Sec:TraceMatrices>Traceability Matrices and Graphs</a>
          </li>
          <li>
            <a href=#Sec:AuxConstants>Values of Auxiliary Constants</a>
          </li>
          <li><a href=#Sec:References>References</a></li>
        </ul>
      </div>
    </div>
    <div id="Sec:RefMat">
      <div class="section">
        <h1>Reference Material</h1>
        <p class="paragraph">
          This section records information for easy reference.
        </p>
        <div id="Sec:ToU">
          <div class="subsection">
            <h2>Table of Units</h2>
            <p class="paragraph">There are no units.</p>
            <p class="paragraph"></p>
          </div>
        </div>
        <div id="Sec:ToS">
          <div class="subsection">
            <h2>Table of Symbols</h2>
            <p class="paragraph">There are no symbols.</p>
            <p class="paragraph"></p>
          </div>
        </div>
        <div id="Sec:TAbbAcc">
          <div class="subsection">
            <h2>Abbreviations and Acronyms</h2>
            <p class="paragraph">There are no abbreviations and acronyms.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="Sec:Intro">
      <div class="section">
        <h1>Introduction</h1>
        <p class="paragraph">There is no problem introduction.</p>
        <p class="paragraph">
          The following section provides an overview of the Software Requirements Specification (SRS) for ProgName. This section explains the purpose of this document, the scope of the requirements, the characteristics of the intended reader, and the organization of the document.
        </p>
        <div id="Sec:DocPurpose">
          <div class="subsection">
            <h2>Purpose of Document</h2>
            <p class="paragraph">
              The primary purpose of this document is to record the requirements of ProgName. Goals, assumptions, theoretical models, definitions, and other model derivation information are specified, allowing the reader to fully understand and verify the purpose and scientific basis of ProgName. With the exception of <a href=#Sec:SysConstraints>system constraints</a>, this SRS will remain abstract, describing what problem is being solved, but not how to solve it.
            </p>
            <p class="paragraph">
              This document will be used as a starting point for subsequent development phases, including writing the design specification and the software verification and validation plan. The design document will show how the requirements are to be realized, including decisions on the numerical algorithms and programming environment. The verification and validation plan will show the steps that will be used to increase confidence in the software documentation and the implementation. Although the SRS fits in a series of documents that follow the so-called waterfall model, the actual development process is not constrained in any way. Even when the waterfall model is not followed, as Parnas and Clements point out <a href=#parnasClements1986>parnasClements1986</a>, the most logical way to present the documentation is still to "fake" a rational design process.
            </p>
          </div>
        </div>
        <div id="Sec:ReqsScope">
          <div class="subsection">
            <h2>Scope of Requirements</h2>
            <p class="paragraph">There are no requirements.</p>
          </div>
        </div>
        <div id="Sec:ReaderChars">
          <div class="subsection">
            <h2>Characteristics of Intended Reader</h2>
            <p class="paragraph">
              Reviewers of this documentation do not need any prerequisite knowledge.
            </p>
          </div>
        </div>
        <div id="Sec:DocOrg">
          <div class="subsection">
            <h2>Organization of Document</h2>
            <p class="paragraph">
              The organization of this document follows the template for an SRS for scientific computing software proposed by <a href=#koothoor2013>koothoor2013</a>, <a href=#smithLai2005>smithLai2005</a>, <a href=#smithEtAl2007>smithEtAl2007</a>, and <a href=#smithKoothoor2016>smithKoothoor2016</a>. The presentation follows the standard pattern of presenting goals, theories, definitions, and assumptions. For readers that would like a more bottom up approach, they can start reading the <a href=#Sec:IMs>instance models</a> and trace back to find any additional information they require.
            </p>
            <p class="paragraph">
              The <a href=#Sec:GoalStmt>goal statements</a> are refined to the theoretical models and the <a href=#Sec:TMs>theoretical models</a> to the <a href=#Sec:IMs>instance models</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="Sec:GenSysDesc">
      <div class="section">
        <h1>General System Description</h1>
        <p class="paragraph">
          This section provides general information about the system. It identifies the interfaces between the system and its environment, describes the user characteristics, and lists the system constraints.
        </p>
        <div id="Sec:SysContext">
          <div class="subsection">
            <h2>System Context</h2>
            <p class="paragraph">There are no system contexts.</p>
          </div>
        </div>
        <div id="Sec:UserChars">
          <div class="subsection">
            <h2>User Characteristics</h2>
            <p class="paragraph">There are no user characteristics.</p>
          </div>
        </div>
        <div id="Sec:SysConstraints">
          <div class="subsection">
            <h2>System Constraints</h2>
            <p class="paragraph">There are no system constraints.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="Sec:SpecSystDesc">
      <div class="section">
        <h1>Specific System Description</h1>
        <p class="paragraph">
          This section first presents the problem description, which gives a high-level view of the problem to be solved. This is followed by the solution characteristics specification, which presents the assumptions, theories, and definitions that are used.
        </p>
        <div id="Sec:ProbDesc">
          <div class="subsection">
            <h2>Problem Description</h2>
            <p class="paragraph">There is no problem description.</p>
            <div id="Sec:TermDefs">
              <div class="subsubsection">
                <h3>Terminology and Definitions</h3>
                <p class="paragraph">There are no terms or definitions.</p>
              </div>
            </div>
            <div id="Sec:PhysSyst">
              <div class="subsubsection">
                <h3>Physical System Description</h3>
                <p class="paragraph">There are no physical system descriptions.</p>
              </div>
            </div>
            <div id="Sec:GoalStmt">
              <div class="subsubsection">
                <h3>Goal Statements</h3>
                <p class="paragraph">There are no goal statements.</p>
              </div>
            </div>
          </div>
        </div>
        <div id="Sec:SolCharSpec">
          <div class="subsection">
            <h2>Solution Characteristics Specification</h2>
            <p class="paragraph">
              The instance models that govern ProgName are presented in the <a href=#Sec:IMs>Instance Model Section</a>. The information to understand the meaning of the instance models and their derivation is also presented, so that the instance models can be verified.
            </p>
            <div id="Sec:Assumps">
              <div class="subsubsection">
                <h3>Assumptions</h3>
                <p class="paragraph">There are no assumptions.</p>
              </div>
            </div>
            <div id="Sec:TMs">
              <div class="subsubsection">
                <h3>Theoretical Models</h3>
                <p class="paragraph">There are no theoretical models.</p>
              </div>
            </div>
            <div id="Sec:GDs">
              <div class="subsubsection">
                <h3>General Definitions</h3>
                <p class="paragraph">There are no general definitions.</p>
              </div>
            </div>
            <div id="Sec:DDs">
              <div class="subsubsection">
                <h3>Data Definitions</h3>
                <p class="paragraph">There are no data definitions.</p>
              </div>
            </div>
            <div id="Sec:IMs">
              <div class="subsubsection">
                <h3>Instance Models</h3>
                <p class="paragraph">There are no instance models.</p>
              </div>
            </div>
            <div id="Sec:DataConstraints">
              <div class="subsubsection">
                <h3>Data Constraints</h3>
                <p class="paragraph">There are no data constraints.</p>
              </div>
            </div>
            <div id="Sec:CorSolProps">
              <div class="subsubsection">
                <h3>Properties of a Correct Solution</h3>
                <p class="paragraph">
                  There are no properties of a correct solution.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="Sec:Requirements">
      <div class="section">
        <h1>Requirements</h1>
        <p class="paragraph">
          This section provides the functional requirements, the tasks and behaviours that the software is expected to complete, and the non-functional requirements, the qualities that the software is expected to exhibit.
        </p>
        <div id="Sec:FRs">
          <div class="subsection">
            <h2>Functional Requirements</h2>
            <p class="paragraph">There are no functional requirements.</p>
          </div>
        </div>
        <div id="Sec:NFRs">
          <div class="subsection">
            <h2>Non-Functional Requirements</h2>
            <p class="paragraph">There are no non-functional requirements.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="Sec:LCs">
      <div class="section">
        <h1>Likely Changes</h1>
        <p class="paragraph">There are no likely changes.</p>
      </div>
    </div>
    <div id="Sec:UCs">
      <div class="section">
        <h1>Unlikely Changes</h1>
        <p class="paragraph">There are no unlikely changes.</p>
      </div>
    </div>
    <div id="Sec:TraceMatrices">
      <div class="section">
        <h1>Traceability Matrices and Graphs</h1>
        <p class="paragraph">
          There are no traceability matrices or traceability graphs.
        </p>
      </div>
    </div>
    <div id="Sec:AuxConstants">
      <div class="section">
        <h1>Values of Auxiliary Constants</h1>
        <p class="paragraph">There are no auxiliary constants.</p>
      </div>
    </div>
    <div id="Sec:References">
      <div class="section">
        <h1>References</h1>
        <ul class="hide-list-style">
          <li>
            <div id="koothoor2013">
              [1]: Koothoor, Nirmitha. <em>A Document Driven Approach to Certifying Scientific Computing Software</em>. McMaster University, Hamilton, ON, Canada: 2013. Print.
            </div>
          </li>
          <li>
            <div id="parnasClements1986">
              [2]: Parnas, David L. and Clements, P. C. "A rational design process: How and why to fake it." <em>IEEE Transactions on Software Engineering</em>, vol. 12, no. 2, Washington, USA: February, 1986. pp. 251&ndash;257. Print.
            </div>
          </li>
          <li>
            <div id="smithKoothoor2016">
              [3]: Smith, W. Spencer and Koothoor, Nirmitha. "A Document-Driven Method for Certifying Scientific Computing Software for Use in Nuclear Safety Analysis." <em> Nuclear Engineering and Technology</em>, vol. 48, no. 2, April, 2016. <a href="http://www.sciencedirect.com/science/article/pii/S1738573315002582">http://www.sciencedirect.com/science/article/pii/S1738573315002582</a>. pp. 404&ndash;418.
            </div>
          </li>
          <li>
            <div id="smithLai2005">
              [4]: Smith, W. Spencer and Lai, Lei. "A new requirements template for scientific computing." <em>Proceedings of the First International Workshop on Situational Requirements Engineering Processes - Methods, Techniques and Tools to Support Situation-Specific Requirements Engineering Processes, SREP'05</em>. Edited by PJ Agerfalk, N. Kraiem, and J. Ralyte, Paris, France: 2005. pp. 107&ndash;121. In conjunction with 13th IEEE International Requirements Engineering Conference,
            </div>
          </li>
          <li>
            <div id="smithEtAl2007">
              [5]: Smith, W. Spencer, Lai, Lei, and Khedri, Ridha. "Requirements Analysis for Engineering Computation: A Systematic Approach for Improving Software Reliability." <em>Reliable Computing, Special Issue on Reliable Engineering Computation</em>, vol. 13, no. 1, February, 2007. <a href="https://doi.org/10.1007/s11155-006-9020-7">https://doi.org/10.1007/s11155-006-9020-7</a>. pp. 83&ndash;107.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
