<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="Template_SRS.css">
    <title>Software Requirements Specification for ProgName</title>
    <meta charset="utf-8">
    <script>
    MathJax = {
      loader: {load: ['[tex]/textmacros', 'output/chtml']},
      tex: {
        packages: {'[+]': ['textmacros']}
      },
      svg: {
        fontCache: 'global'
      }
    };
    </script>
    <script type="text/javascript" id="MathJax-script" async
     src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml-full.js">
    </script>
  </head>
  <body>
    <div class="title">
      <h1>Software Requirements Specification for ProgName</h1>
    </div>
    <div class="author"><h2>Author Name</h2></div>
    <div id="Sec:SpecSystDesc">
      <div class="section">
        <h1>Specific System Description</h1>
        <p class="paragraph">
          This section first presents the problem description, which gives a high-level view of the problem to be solved. This is followed by the solution characteristics specification, which presents the assumptions, theories, and definitions that are used.
        </p>
        <div id="Sec:SolCharSpec">
          <div class="subsection">
            <h2>Solution Characteristics Specification</h2>
            <p class="paragraph">
              The instance models that govern ProgName are presented in the <a href=#Sec:IMs>Instance Model Section</a>. The information to understand the meaning of the instance models and their derivation is also presented, so that the instance models can be verified.
            </p>
            <div id="Sec:TMs">
              <div class="subsubsection">
                <h3>Theoretical Models</h3>
                <p class="paragraph">There are no theoretical models.</p>
              </div>
            </div>
            <div id="Sec:GDs">
              <div class="subsubsection">
                <h3>General Definitions</h3>
                <p class="paragraph">There are no general definitions.</p>
              </div>
            </div>
            <div id="Sec:DDs">
              <div class="subsubsection">
                <h3>Data Definitions</h3>
                <p class="paragraph">There are no data definitions.</p>
              </div>
            </div>
            <div id="Sec:IMs">
              <div class="subsubsection">
                <h3>Instance Models</h3>
                <p class="paragraph">There are no instance models.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
