<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="Template_SRS.css">
    <title>Software Requirements Specification for Template</title>
    <meta charset="utf-8">
    <script>
    MathJax = {
      loader: {load: ['[tex]/textmacros', 'output/chtml']},
      tex: {
        packages: {'[+]': ['textmacros']}
      },
      svg: {
        fontCache: 'global'
      }
    };
    </script>
    <script type="text/javascript" id="MathJax-script" async
     src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml-full.js">
    </script>
  </head>
  <body>
    <div class="title">
      <h1>Software Requirements Specification for Template</h1>
    </div>
    <div class="author"><h2>Author Name</h2></div>
  </body>
</html>
