*.sh text eol=lf
*.cls linguist-vendored
*.bst linguist-vendored
Papers/** linguist-documentation
People/** linguist-documentation
Presentations/** linguist-documentation
WindowsFix/** linguist-vendored
code/stable/** linguist-generated
code/stable-website/** linguist-generated
code/datafiles/** linguist-vendored
doc/** linguist-documentation
notes/** linguist-documentation
