dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.aux
*.log
*.blg
*.bbl
*.nav
*.out
*.snm
*.toc
*.swp
/Physics Engine Families/Papers
Main
.idea
*.iml
*.vrb
.DS_Store
.stack-work
/code/SRS
/code/C++/
/code/MG/
/code/MIS/
/code/Website/
/code/Docs
*.synctex.gz