*.sh text eol=lf
People/* linguist-documentation
FamilyOfGamePhysicsEngines/* linguist-documentation
notes/* linguist-documentation
Presentations/* linguist-documentation
code/stable/* linguist-generated=true
