# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.idea
.vscode

# Drasil/Haskell
.cabal-sandbox
.hsenv
.stack-work
cabal.config
cabal.sandbox.config
cabal-dev
dist
*.o
*.hi
*.chi
*.chs.h
.drasil-min-stack-ver
stack.yaml.lock

# Drasil supported programming languages
__pycache__
.virtualenv
*.pyc
*.class
Main

# Generated artifacts
code/analysis
code/build
code/docs
code/deploy
code/graphs
code/logs
code/stable/*/src/*/html
code/stable/*/src/*/latex
*/Projectile/output.txt

# Website
code/website/_cache
code/website/_site

# PDF generation, TeX caches, ctc (misc. file types)
*.aux
*.log
*.blg
*.bbl
*.nav
*.snm
*.toc
*.swp
*.fls
*.fdb_latexmk
*.out
*.iml
*.vrb
*.synctex.gz
