<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="Template_SRS.css">
    <title>Software Requirements Specification for Template</title>
    <meta charset="utf-8">
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}, displayMath: [['$$','$$']]});</script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script>
  </head>
  <body>
    <div class="title">
      <h1>Software Requirements Specification for Template</h1>
    </div>
    <div class="author"><h2>Author Name</h2></div>
  </body>
</html>
