on:
  pull_request:
    branches: main
    paths: [code/drasil-**, .github/workflows/Lint.yaml]
name: Linter
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash
    working-directory: code
jobs:
  linter:
    name: "HLint"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: "HLint"
        run: make hot_hlint
